version: '3.8'

services:
  api:
    build: .
    container_name: marketplace-backend
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      - PORT=4000
    restart: unless-stopped
